@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(243 244 246);
}

[data-overlay-container=true] {
  height: 100%;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.toast {
  z-index: 9999;
}

.folders-title {
  animation: slideIn 0.5s ease;
}

.folders-animation {
  animation: slideIn 1s ease;
}

.notes-animation {
  animation: slideUp 1s ease;
}
